# Supabase Configuration
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-here

# Loyverse OAuth Configuration
VITE_LOYVERSE_CLIENT_ID=na0tlm2Whq22j3jTPV_l
VITE_LOYVERSE_CLIENT_SECRET=G02r649qvTDIY2s31K3qE2OhAI_MjgvybotOPwhJgXVKi0KJCeeNJw====
VITE_LOYVERSE_REDIRECT_URL=https://citizen-archive-prescription-valves.trycloudflare.com/auth/loyverse/callback

# Paguelo Fácil Configuration
VITE_PAGUELO_FACIL_ACCESS_TOKEN=SlLmEttBcJBgyYjIq4CasgIEsOtrFaZm|DIRviCAU7aZX3Ytt6auGxHjve
VITE_PAGUELO_FACIL_API_URL=https://api.paguelofacil.com